@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Quicksand:wght@500&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #55bcc9;
    font-family: 'Merienda One', cursive;

}

header {
    height: 28vh;
    display: flex;
}

img {
    width: 10vw;
    height: 10vw;
}

.library {

    font-size: 50px;
    padding-left: 5px;

    
}

.addBook {
    align-self: center;
    justify-self: center;
    font-family: 'Merienda One', cursive;
    margin-left: 20vw;
    margin-bottom: 5vw;
    height: 4rem;
    width: 8rem;
    background-color: #fc4445;
    color:#EEF;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    transition: all 0.5s;

}

.addBook:hover {
    height: 6rem;
    width: 10rem;
    margin-left: 19.5vw;
    font-size: 24px;
}


.books {
    display: flex;
    flex-wrap: wrap;
    background-color: #fc4445;
    gap: 30px;
    margin-left: 1vw;
    border-radius: 50px;
    padding-left: 3vw;
    padding-bottom: 2rem;
    margin-right: 1vw;
    
    
    
}

.theBook {
    background-color: #cafafe;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    height: 40%;
    width: 14%;
    margin-top: 30px;
    
   
 
}

.theTitle {
    align-self: flex-start;
    padding-left: 8%;
    background-color:#97caef;
    width:100%;
    height: 20%;
    
}
.ifRead {
    display: flex;
    justify-content: space-evenly;
   background-color: #3feee6;
   width: 100%;
}

.theRead {
    height: 20px;
    width: 20px;
    
    
}   

.delete {
    height: 25px;
    width: 80px;
    font-family: 'Merienda One', cursive;
    background-color:#fc4445 ;
    border: none;
    margin-bottom: 2%;
    margin-right: 2%;
    align-self: flex-end;
}

#form {
    background-color: #3feee6;
    position: fixed;
    top: 50%;
    left: 50%;
    transition: 300ms ease-in-out;
    transform: translate(-50%,-65%) scale(0);
    z-index: 10;
    height: 60%;
    max-height: 80%;
    border-radius: 10px;
    width: 27%;
    
}
#form.active {

    transform: translate(-50%,-65%) scale(1);

}

.formHeader {

    display: flex;
    justify-content: space-between;
    height: 15%;
    padding: 15px 15px;
    font-size: 24px;
    font-weight: bold;
    
}

.formHeader .close-button {

    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    font-size: 3rem;
    font-weight: bold;
    
}

.form-body {
    background-color: #fc4445;
    height:85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 5px;
}

input.title, input.author, input.pages {
    background-color: #3feee6;
    border: none;
    font-family:'Merienda One', cursive;

}

.title , .author, .pages  {

    width: 60%;
    font-size: 20px;
    height: 40px;
}

.submit-book {

    align-self: center;
    width: 70%;
    height: 50px;
    font-size: 1.5rem;
    font-family: 'Merienda One', cursive;
    background-color: #3feee6;
    border-radius: 15px;
    margin-top: 20px;

}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transition: 300ms ease-in-out;
}

.overlay.active {
    pointer-events: all;
    opacity: 1;
}