*, *::after, *::before {
    box-sizing: border-box;
}

header {
    height: 28vh;
}


.books {
    display: flex;
    flex-wrap: wrap;
    background-color: #AB5500;
    width: 100vw;
    height: 70vh;
    gap: 30px;
    
    
    
}

.theBook {
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    height: 40%;
    width: 15%;
    margin-top: 30px;
   
 
}

.theTitle {
    color: blue;
    align-self: flex-start;
    padding-left: 8%;
    background-color:bisque;
    width:100%;
    height: 20%;
}